<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
</div>
<div class="container body-content">

	<h1>@ViewBag.title</h1>

	@{
		//TODO #1: Use a loop to display job results in a table.
	}

	<table class="job-listing">
		@foreach (var job in ViewBag.jobs)
		{
			<tr>
				<td>
					<ol>ID:@job.Id</ol>
					<ol>Name:@job.Name</ol>
					<ol>Employer:@job.Employer</ol>
					<ol>Location:@job.Location</ol>
					<ol>Position Type:@job.PositionType</ol>
					<ol>Skill:@job.CoreCompetency</ol>
				</td>
			</tr>

		}
	</table>
</div>
 